@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<div class="text-center">
    <h1 class="display-4">Salve salve, família!</h1>
    <p>Assista à aula do dia 08/01/2021 no <a href="https://youtu.be/MQ-N9lKVb7c"><i class="fab fa-youtube "></i></a>.</p>
</div>
